* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    
}

body {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Passion One', cursive; */
    /* font-family: 'Oswald', sans-serif;   */
}
